<% provide(:title, "About") %>

<h3>About the COME HOME Program</h3>
<p>COME HOME Program Info Goes Here</p>

<h3>About IOBS</h3>
<p>IOBS Info Goes Here</p>

<h3>About the Payment Illustrator</h3>
<p>Bundled Payment/Modeling Info Goes Here</p>