<% provide(:title, "Home") %>

<section>
  <h3>Instructions:</h3>

</section>
<section>
  <h2>Step 1: Patient information</h2>
  <div>
      <button name="Upload a demographic file">Upload a demographic file</button>
      <br>
      <br>
      <div>
        <label>Number of Patients per Month: </label><input type="number" id="npts" name="npts" value="100">
        <label>% Female: </label><input type="number" id="ndx" name="ndx" value="50">
        <label>Number Age 0-18: </label><input type="number" id="nchild" name="nchild" value = "0">
        <label>Number Age 9-25: </label><input type="number" id="nya" name="nya" value ="10">
        <label>Number Age 26-64: </label><input type="number" id="nadult" name="nadult" value = "40">
        <label>Number Age 65-79: </label><input type="number" id="nelderly" name="nelderly" value = "30">
        <label>Number Age 80+: </label><input type="number" id="nextelderly" name="nextelderly" value = "20">
      </div>
  </div>

</section>
<section>
  <h2>Step 2: Cancer Dx</h2>
  <div>
    <button name="Upload a dx file">Upload a diagnosis file</button>
    <br>
    <br>
    <label>Number of New Breast Cancer Diagnoses: </label><input type="number" id="nnewbreast" name="nnewbreast">
    <label>% Metastatic: </label><input type="number" id="nrecbreast" name="nrecbreast">
    <label>% ER/PR Positive: </label><input type="number" id="nrecbreast" name="nrecbreast">
    <label>% Her2 Positive: </label><input type="number" id="nrecbreast" name="nrecbreast">
    <label>Number of New Colon Cancer Diagnoses: </label><input type="number" id="nnewcolon" name="nnewcolon">
    <label>% Metastatic: </label><input type="number" id="nreccolon" name="nreccolon">
    <label>% KRAS Positive: </label><input type="number" id="nnewlung" name="nnewlung">
    <label>Number of New Lung Cancer Diagnoses: </label><input type="number" id="nreclung" name="nreclung">
    <label>% Metastatic: </label><input type="number" id="nreccolon" name="nreccolon">
    <label>% ALK Positive: </label><input type="number" id="nreccolon" name="nreccolon">
    <label>% EGFR Positive: </label><input type="number" id="nreccolon" name="nreccolon">
    <label>Number of New Other Cancer Diagnoses: </label><input type="number" id="nnewother" name="nnewother">
    <label>% Metastatic: </label><input type="number" id="nrecother" name="nrecother">
  </div>
</section>
<section>
  <h2>Step 3: Other Dx</h2>
  <div>
    <label>% of Patients with Diabetes: </label><input type="number" id="ndx" name="ndx">
    <label>% of Patients with Coronary Artery Disease: </label><input type = "text">
    <label>% of Patients with Congestive Heart Failure: </label><input type="text">
    <label>% of Patients with Mild Liver Disease: </label><input type="text">
    <label>% of Patients with Moderate to Severe Liver Disease: </label><input type="text">
    <label>% of Patients with HIV: </label><input type="text">
  </div>
</section>
<section>
  <h2>Step 4: Utilization</h2>
  <div>
    <button name="Upload a proc file">Upload a utilization file</button>
    <br>
    <br>
    <label>Average Number of Office Visits Per Month: </label><input type="number" id="ndx" name="ndx">
    <label>% of Patients with ER Visit Per Month: </label><input type = "text">
    <label>Average ER Visit Cost: </label><input type="text">
    <label>% of Patients with IP Admission Per Month: </label><input type="text">
    <label>Average IP Cost Per Admission: </label><input type="text">
    <label>% of Patients receiving PET Scans: </label><input type="text">
  </div>
</section>
<section>
  <h2>Step 5: Treatment</h2>
  <div>
    <button name="Upload a proc file">Upload a treatment file</button>
    <br>
    <br>
    <label>Average number of chemotherapy visits per week: </label><input type="number" id="ndx" name="ndx">
    <label>% of patients receiving chemo per month: </label><input type="text">
    <label>% of patients receiving Neulasta: </label><input type = "text">
    <label>% of patients receiving monoclonal antibodies: </label><input type="text">
    <label>% of on oral chemotherapy: </label><input type="text">
  </div>
</section>
<section>
  <h2>Step 6: Payment Model</h2>
  <div id="pm">
    <label>What is the trigger for a new episode in the proposed model?<br><br><br></label>
    <input type="radio" name="trigger" value="FirstVisit"> First Visit<br>
    <input type="radio" name="trigger" value="NewDx"> New Diagnosis<br>
    <input type="radio" name="trigger" value="ChemoStart"> Chemotherapy/Hormone Therapy Start<br>
    <input type="radio" name="trigger" value="NoTrigger"> None (for models that don't use episodes of care)<br>
    <input type="radio" name="trigger" value="Other"> Other
    <br>
    <br>

    <label>How long does an episode last? If the model does not use episodes of care enter 0 (zero).</label>
   <input type="number" name="length"> months
    <br>
    <br>
    <br>
    <label>Will you receive a stipend to cover infrastructure or other costs?<br><br><br><br></label>
    <input type="radio" name="pmpmyn" value="ssunlimited"><input type="number" name="pmpmyn" value="500"> One Time<br><br>
    <input type="radio" name="pmpmyn" value="ssunlimited"><input type="number" name="pmpmyn" value="50"> Per Member Per Month (PMPM)<br><br>
    <input type="radio" name="pmpmyn" value="No"> No<br>
    <input type="radio" name="pmpmyn" value="Other"> Other
    <br>
    <br>
    <label>Will you receive a stipend to cover chemotherapy storage and handling?<br><br><br><br></label>
    <input type="radio" name="pmpmchemo" value="ssunlimited"><input type="number" name="pmpmyn" value="500"> One Time<br><br>
    <input type="radio" name="pmpmchemo" value="ssunlimited"><input type="number" name="pmpmyn" value="50"> Per Member Per Month (PMPM)<br><br>
    <input type="radio" name="pmpmchemo" value="No"> No<br>
    <input type="radio" name="pmpmchemo" value="Other"> Other
    <br>
    <br>
    <label>Will you be eligible for shared savings?<br><br><br><br></label>
    <input type="radio" name="sharedsavings" value="ssunlimited"> Yes, with no limit<br>
    <input type="radio" name="sharedsavings" value="ssdollarcap"><input type="number" name="sspercentcap">% cap<br><br>
    <input type="radio" name="sharedsavings" value="No"> No<br>
    <input type="radio" name="sharedsavings" value="Other"> Other
    <br>
    <br>
    <label>Will you accept downside risk?<br><br><br><br></label>
    <input type="radio" name="risk" value="ssunlimited"> Yes, with no limit<br>
    <input type="radio" name="risk" value="ssdollarcap"><input type="number" name="riskpercentcap">% cap<br><br>
    <input type="radio" name="risk" value="No"> No<br>
    <input type="radio" name="risk" value="Other"> Other
    <br>
    <br>
    <label>For practices accepting downside risk, will you purchase reinsurance?<br><br></label>
    <input type="checkbox" name="reinsurance" value="perpatient"> Per episode<br>
    <input type="checkbox" name="reinsurance" value="poplation"> Per population<br>
    <input type="checkbox" name="reinsurance" value="No"> None<br>
    <input type="checkbox" name="reinsurance" value="NA"> N/A
    <br>
    <br>
    <label>Which services will be included in the bundle (check all that apply)<br><br><br><br><br><br><br><br>
      <br><br><br><br></label>
    <input type="checkbox" name="bundleinclude" value="officevisit"> Office Visits<br>
    <input type="checkbox" name="bundleinclude" value="phone"> Phone Calls (physician phone consults, nursing
    triage calls, etc.)<br>
    <input type="checkbox" name="bundleinclude" value="labs"> Labs<br>
    <input type="checkbox" name="bundleinclude" value="imaging"> Diagnostic imaging<br>
    <input type="checkbox" name="bundleinclude" value="dxproc"> Other Diagnostic Procedures<br>
    <input type="checkbox" name="bundleinclude" value="chemo"> Chemotherapy Administration<br>
    <input type="checkbox" name="bundleinclude" value="chemodrugs"> Chemotherapy Drugs<br>
    <input type="checkbox" name="bundleinclude" value="hormone"> Hormone Therapy<br>
    <input type="checkbox" name="bundleinclude" value="rads"> Radiation Therapy<br>
    <input type="checkbox" name="bundleinclude" value="ed"> ED Encounters<br>
    <input type="checkbox" name="bundleinclude" value="ip"> IP Admissions<br>
    <input type="checkbox" name="bundleinclude" value="outside"> Other outside utilization<br>
    <input type="checkbox" name="bundleinclude" value="fu"> Follow up
    <br>
    <br>
    <label>Is the bundled payment reconciled prospectively or retrospectively?</label>
    <input type="radio" name="timing" value="Prospective"> Prospective (lump sum paid out directly after trigger
      event) <br>
    <input type="radio" name="timing" value="Retrospective"> Retrospective (practice paid via FFS with reconciliation
      and additional payments at end of episode)
    <br>
    <br>
  </div>
  <p><label>Bundled Payment Amount (if known): $</label><input type="number" name="bp" id="bp">
    <br>
    <br>
</section>
<section>
  <canvas id="dist" width="500" height="400">
  </canvas>
  <canvas id="sim" width="500" height="400"> </canvas>
</section>
<section>
  <h4 id="mean">Average Reimbursement Per Patient:</h4>
  <h4 id="variance">Variance:</h4>
  <h4>% Patients with Cost Under Bundled Amount: 50%</h4>
  <h4 id="delta">Average monthly reimbursement difference vs. Medicare FFS: $0</h4>
  <h4 id="bestMonth">Best Month:</h4>
  <h4 id="worstMonth">Worst Month:</h4>
</section>