<% provide(:title, "Home") %>

<section>
  <h3>Instructions:</h3>

</section>
<section>
  <h2>Step 1: Patient information</h2>
  <div>
      <button name="Upload a demographic file">Upload a demographic file</button>
      <br>
      <br>
      <div>
        <label>Number of Patients per Month: </label><input type="number" id="npts" name="npts">
        <label>% Female: </label><input type="number" id="ndx" name="ndx">
        <label>Number Age 0-18: </label><input type="number" id="nchild" name="nchild">
        <label>Number Age 9-25: </label><input type="number" id="nya" name="nya">
        <label>Number Age 26-64: </label><input type="number" id="nadult" name="nadult">
        <label>Number Age 65-79: </label><input type="number" id="nelderly" name="nelderly">
        <label>Number Age 80+: </label><input type="number" id="nextelderly" name="nextelderly">
      </div>
  </div>

</section>
<section>
  <h2>Step 2: Cancer Dx</h2>
  <div>
    <button name="Upload a dx file">Upload a diagnosis file</button>
    <br>
    <br>
    <label>Number of New Breast Cancer Diagnoses: </label><input type="number" id="nnewbreast" name="nnewbreast">
    <label>% Metastatic: </label><input type="number" id="nrecbreast" name="nrecbreast">
    <label>% ER/PR Positive: </label><input type="number" id="nrecbreast" name="nrecbreast">
    <label>% Her2 Positive: </label><input type="number" id="nrecbreast" name="nrecbreast">
    <label>Number of New Colon Cancer Diagnoses: </label><input type="number" id="nnewcolon" name="nnewcolon">
    <label>% Metastatic: </label><input type="number" id="nreccolon" name="nreccolon">
    <label>% KRAS Positive: </label><input type="number" id="nnewlung" name="nnewlung">
    <label>Number of New Lung Cancer Diagnoses: </label><input type="number" id="nreclung" name="nreclung">
    <label>% Metastatic: </label><input type="number" id="nreccolon" name="nreccolon">
    <label>% ALK Positive: </label><input type="number" id="nreccolon" name="nreccolon">
    <label>% EGFR Positive: </label><input type="number" id="nreccolon" name="nreccolon">
    <label>Number of New Other Cancer Diagnoses: </label><input type="number" id="nnewother" name="nnewother">
    <label>% Metastatic: </label><input type="number" id="nrecother" name="nrecother">
  </div>
</section>
<section>
  <h2>Step 3: Other Dx</h2>
  <div>
    <label>% of Patients with Diabetes: </label><input type="number" id="ndx" name="ndx">
    <label>% of Patients with Coronary Artery Disease: </label><input type = "text">
    <label>% of Patients with Congestive Heart Failure: </label><input type="text">
    <label>% of Patients with Mild Liver Disease: </label><input type="text">
    <label>% of Patients with Moderate to Severe Liver Disease: </label><input type="text">
    <label>% of Patients with HIV: </label><input type="text">
  </div>
</section>
<section>
  <h2>Step 4: Procedures</h2>
  <div>
    <button name="Upload a proc file">Upload a procedure code file</button>
    <br>
    <br>
    <label>Average Number of Office Visits Per Month: </label><input type="number" id="ndx" name="ndx">
    <label>% of Patients with ER Visit Per Month: </label><input type = "text">
    <label>Average ER Visit Cost: </label><input type="text">
    <label>% of Patients with IP Admission Per Month: </label><input type="text">
    <label>Average IP Cost Per Admission: </label><input type="text">
    <label>% of Patients receiving PET Scans: </label><input type="text">
  </div>
</section>
<section>
  <h2>Step 5: Payment Model</h2>
  <div id="pm">
    <p>What is the trigger for a new episode in the proposed model?</p>
    <input type="radio" name="trigger" value="FirstVisit"> First Visit<br>
    <input type="radio" name="trigger" value="NewDx"> New Diagnosis<br>
    <input type="radio" name="trigger" value="ChemoStart"> Chemotherapy/Hormone Therapy Start<br>
    <input type="radio" name="trigger" value="NoTrigger"> None (for models that don't use episodes of care)<br>
    <input type="radio" name="trigger" value="Other"> Other
    <br>
    <br>

    <p>How long does an episode last? If the model does not use episodes of care enter 0 (zero).</p>
    Episode length: <input type="number" name="length"> months
    <br>
    <br>
    <p>Will you receive a stipend to cover infrastructure or other costs?</p>
    <input type="radio" name="pmpmyn" value="YesPercentage"> Yes: A one time fee that is a percentage of the total
    bundled amount<br>
    <input type="radio" name="pmpmyn" value="YesPMPM"> Yes: A per member per month (PMPM) fee that is not related to the
    total cost of care<br>
    <input type="radio" name="pmpmyn" value="No"> No<br>
    <input type="radio" name="pmpmyn" value="Other"> Other
    <br>
    <br>
    <p>Will you receive a stipend to cover chemotherapy storage and handling?</p>
    <input type="radio" name="rxpayment" value="YesPercentage"> Yes: A one time stipend of
    $<input type="number" name="chemostipend"><br><br>
    <input type="radio" name="rxpayment" value="YesPMPM"> Yes: A monthly stipend for each patient on chemotherapy of
    $<input type="number" name="chemostipend"><br><br>
    <input type="radio" name="rxpayment" value="No"> No<br>
    <input type="radio" name="rxpayment" value="Other"> Other
    <br>
    <br>
    <p>Will you be eligible for shared savings?</p>
    <input type="radio" name="sharedsavings" value="ssunlimited"> Yes, with no limit<br>
    <input type="radio" name="sharedsavings" value="ssdollarcap"> Yes, up to
    $<input type="number" name="ssdollarcap"> or
    <input type="number" name="sspercentcap">%<br>
    <input type="radio" name="sharedsavings" value="No"> No<br>
    <input type="radio" name="sharedsavings" value="Other"> Other
    <br>
    <br>
    <p>Will you accept downside risk?</p>
    <input type="radio" name="risk" value="ssunlimited"> Yes, with no limit<br>
    <input type="radio" name="risk" value="ssdollarcap"> Yes, up to $<input type="number" name="riskdollarcap"> or
    <input type="number" name="riskpercentcap">%<br>
    <input type="radio" name="risk" value="No"> No<br>
    <input type="radio" name="risk" value="Other"> Other
    <br>
    <br>
    <p>For practices accepting downside risk, which of the following reinsurance products will you purchase?</p>
    <input type="checkbox" name="reinsurance" value="perpatient"> Per episode after a loss of
    $<input type="number" name="ptreinsdollar"> or <input type="number" name="ptreinspercent">%<br>
    <input type="checkbox" name="reinsurance" value="poplation"> For all patients after a total loss of
    $<input type="number" name="ptreinsdollar"> or <input type="number" name="ptreinspercent">%<br>
    <input type="checkbox" name="reinsurance" value="No"> None<br>
    <input type="checkbox" name="reinsurance" value="NA"> N/A
    <br>
    <br>
    <p>Which services will be included in the bundle (check all that apply)</p>
    <input type="checkbox" name="bundleinclude" value="officevisit"> Office Visits<br>
    <input type="checkbox" name="bundleinclude" value="phone"> Phone Calls (physician phone consults, nursing
    triage calls, etc.)<br>
    <input type="checkbox" name="bundleinclude" value="labs"> Labs<br>
    <input type="checkbox" name="bundleinclude" value="imaging"> Diagnostic imaging<br>
    <input type="checkbox" name="bundleinclude" value="dxproc"> Other Diagnostic Procedures<br>
    <input type="checkbox" name="bundleinclude" value="chemo"> Chemotherapy Administration<br>
    <input type="checkbox" name="bundleinclude" value="chemodrugs"> Chemotherapy Drugs<br>
    <input type="checkbox" name="bundleinclude" value="hormone"> Hormone Therapy<br>
    <input type="checkbox" name="bundleinclude" value="rads"> Radiation Therapy<br>
    <input type="checkbox" name="bundleinclude" value="ed"> ED Encounters<br>
    <input type="checkbox" name="bundleinclude" value="ip"> IP Admissions<br>
    <input type="checkbox" name="bundleinclude" value="outside"> Other outside utilization<br>
    <input type="checkbox" name="bundleinclude" value="fu"> Follow up
    <br>
    <br>
    <p>Is the bundled payment reconciled prospectively (lump sum paid out directly after trigger event) or retrospectively
      (practice paid via FFS with reconciliation and additional payments at end of episode)</p>
    <input type="radio" name="timing" value="Prospective"> Prospective<br>
    <input type="radio" name="timing" value="Retrospective"> Retrospective
    <br>
    <br>
    <p>Bundled Payment Amount (if known): $<input type="number" name="ptreinsdollar">
    <br>
    <br>
    <input type="button" name="submit" value="submit">
  </div>
</section>
<section>
  <h4>Average Reimbursement Per Patient:</h4>
  <h4>Variance:</h4>
  <h4>% Patients with Cost Under Bundled Amount:</h4>
  <h4>Average monthly reimbursement difference vs. Medicare FFS:</h4>
  <h4>Best Month:</h4>
  <h4>Worst Month:</h4>
</section>
<section>
  <canvas id="dist" width="500" height="400">
  </canvas>
  <canvas id="sim" width="500" height="400"> </canvas>
</section>